*, *::before, *::after {
    margin: 0;
    padding: 0;
}

.ham-active {
    border: 2px solid blue;
    border-radius: 7px;
}

.menu {
    display: none;
}

.menu.open {
    display: block;
    position: absolute;
    top: 70px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 5px 0;
    cursor: pointer;
}

.menu li:hover {
    background-color: #f0f0f0;
}